@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --font-family: "Outfit", sans-serif;

  --white-color: #ffffff;
  --black-color: #000000;
  --primary-color: #262626;
  --secondary-color: #808080;
  --link-color: #49557e;
  --tomato-color: #ff6347;
  --light-tomato-color: #fff4f2;
  --button-text-color: #747474;
  --description-color: #676767;
  --footer-text-color: #d9d9d9;
  --footer-bg-color: #323232;
  --divider-color: #e2e2e2;
  --login-popup-bg-color: #00000090;
  --input-field-border-color: #c9c9c9;
  --checkout-color: #555555;
  --cart-input-color: #eaeaea;
  --place-order-input-color: #c5c5c5;
  --navbar-profile-bg-color: #fff2ef;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
